@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@model PaginatedList<NiCeScanner.Models.Advice>

<table id="questionTable" class="table mb-2">
    <thead>
        <tr>
            <th>
                <a asp-action="Index"
                   asp-route-searchString="@ViewData["SearchString"]"
                   asp-route-SortOrderContactName="@ViewData["ContactNameParm"]">Name</a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-searchString="@ViewData["SearchString"]"
                   asp-route-SortOrderContactEmail="@ViewData["ContactEmailParm"]">Additional Link</a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-searchString="@ViewData["SearchString"]"
                   asp-route-SortOrderSector="@ViewData["SectorSortParm"]">Additional Link Name</a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-searchString="@ViewData["SearchString"]"
                   asp-route-SortOrderCreatedAt="@ViewData["CreatedAtSortParm"]">@Html.DisplayNameFor(model => model[0].CreatedAt)</a>
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {

            var adviceData = JsonConvert.DeserializeObject<JObject>(item.Data);
            var adviceText = adviceData?["nl"]?.Value<string>("data") ?? "N/A";

            <tr>
                <td>
                    @adviceText
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdditionalLink)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdditionalLinkName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div>
    <nav aria-label="Page navigation">
        <ul class="pagination mb-2">
            <li class="page-item @prevDisabled">
                <a class="page-link" asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]">Previous</a>
            </li>
            <li class="page-item @(1 == Model.PageIndex ? "active" : "")">
                <a class="page-link" asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="1"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]">1</a>
            </li>
            @for (int i = Math.Max(1, Model.PageIndex - 2); i <= Math.Min(Model.TotalPages, Model.PageIndex + 2); i++)
            {
                if (i > 1 && i < Model.TotalPages)
                {
                    <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                        <a class="page-link" asp-action="Index"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-pageNumber="@i"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]">@i</a>
                    </li>
                }
            }
            <li class="page-item @(Model.TotalPages == Model.PageIndex ? "active" : "")">
                <a class="page-link" asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@Model.TotalPages"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]">@Model.TotalPages</a>
            </li>
            <li class="page-item @nextDisabled">
                <a class="page-link" asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]">Next</a>
            </li>
        </ul>
    </nav>
</div>