@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@model NiCeScanner.Models.Advice

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Advice</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Content
        </dt>
        <dd class = "col-sm-10">
            @{
                var adviceData = JsonConvert.DeserializeObject<JObject>(Model.Data);
                var adviceText = adviceData?["nl"]?.Value<string>("data") ?? "N/A";
            }
            @Html.DisplayFor(model => adviceText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdditionalLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalLinkName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdditionalLinkName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
